# Preencher:
# dbhost = host do banco de dados
# dbname = nome do bd
# dbuser = usuário do bd
# dbpassword = senha do bd

spring.datasource.url=jdbc:postgresql://dbhost:5432/dbname?autoReconnect=true&serverTimezone=UTC&useSSL=false
spring.datasource.username=dbname
spring.datasource.password=dbpassword